Package        Version
-------------- -------
attrs          21.2.0 
click          8.0.3  
DateTime       4.3    
Flask          2.0.2  
iniconfig      1.1.1  
itsdangerous   2.0.1  
Jinja2         3.0.3  
MarkupSafe     2.0.1  
packaging      21.3   
pip            20.0.2 
pkg-resources  0.0.0  
pluggy         1.0.0  
py             1.11.0 
pyparsing      3.0.6  
pytest         6.2.5  
python-dotenv  0.19.2 
pytz           2021.3 
setuptools     44.0.0 
toml           0.10.2 
Werkzeug       2.0.2  
zope.interface 5.4.0  
